html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.containerindex {
    position: relative;
    text-align: center;
    color: lightsalmon;
}

.centeredindex {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}