<link rel="stylesheet" href="~/css/site.css">
@{
    ViewData["Title"] = "Home Page";
}
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    Logo
  </div>
  <div class="container">
    <h1 class="header">Garage 3.0</h1>
    <p class="textindex text-start m-4">Det kostar 10 kronor per timme eller 100 kronor per påbörjad dag
        <p class="textindex text-start m-4">För att starta din parkering tryck på "starta"</p>
            <p class="textindex text-start m-4">För att betala klicka på "stoppa"</p>
                <p class="textindex text-start m-4">För att se parkerade fordon klicka på "Visa"</p>
      </div>

  </div>

</body>