<link rel="stylesheet" href="~/css/site.css">
@{
    ViewData["Title"] = "Home Page";
}
<div class="containerindex">

        <img src="https://businesspress.vegas/wp-content/uploads/2019/11/12999580_web1_copy_Garage-Thermal.jpg?crop=1" alt="Garage" style="width:100%;">
        <div class="centeredindex">
         <h1 class="display-4 text-center">Välkommen till Garage 3.0</h1>
    <div class="col-12  p-5">
        <ul>
        <li><h3>Det kostar 10 kronor per timme eller 100 kronor per påbörjad dag</h3></li>
         <li><h3>För att starta din parkering tryck på "Starta.</h3></li>
        <li><h3>För att betala klicka på "Stoppa".</h3></li>
        <li><h3>För att se parkerade fordon klicka på "Visa".</h3></li>
        </ul>
     </div>
        </div>



 </div>